<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }

  @media screen and (min-width: 1200px) {
    .ml-featured-product__container {
      grid-template-columns: 1fr {{ section.settings.featured_image_width }}px;
      gap: 60px;
    }
  }
</style>


{%- liquid
  assign product = section.settings.product
  if product != blank
    assign product_form_id = 'ProductForm-' | append: section.id | append: '-' | append: product.id
    assign media_count = product.media.size
    assign product_variant = product.selected_or_first_available_variant
    assign featured_media = product_variant.featured_media | default: product.featured_media | default: product.media.first
  endif
-%}

{%- if product.quantity_price_breaks_configured? -%}
  {{ 'volume-pricing.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'volume-pricing.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'ml-featured-product.js' | asset_url }}" defer></script>

<div class="ml-featured-product section section--padding page-width{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
     data-ml-featured-product
     data-section-id="{{ section.id }}"
     {%- if product != blank -%}
     data-product-id="{{ product.id }}"
     data-product-json="{{ product | json | escape }}"
     data-featured-media-id="{% if featured_media != blank %}{{ featured_media.id }}{% else %}{% endif %}"
     {%- endif -%}>
  <div class="relative">
    {%- if product != blank -%}
      <div class="ml-featured-product__container">
        <div class="ml-featured-product__content-wrapper">
          <div class="ml-featured-product__gallery">
          {%- if media_count > 0 -%}
            {%- liquid
              assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
              assign sizes = '(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(580px, 30vw)'
            -%}
            <media-gallery id="ProductGallery-{{ section.id }}-{{ product.id }}" class="product__gallery product__gallery--thumbnail block w-full relative" form="{{ product_form_id }}" aria-label="{{ 'products.media.gallery_viewer' | t | escape }}">
              <div class="product__media-container flex flex-col gap-4">
                <div class="relative w-full h-full">
                  <slider-element id="SliderGallery-{{ section.id }}-{{ product.id }}" class="slider slider--desktop slider--tablet block w-full h-full" selector=".product__media" tabindex="0">
                    <div class="product__media-list flex gap-1">
                      {%- if featured_media != null -%}
                        {%- render 'product-media',
                          product: product,
                          product_id: product.id,
                          section_id: section.id,
                          product_variant: product_variant,
                          media: featured_media,
                          featured_media: featured_media,
                          variant_images: variant_images,
                          hide_variants: false,
                          gallery_layout: 'thumbnail',
                          image_zoom: 'none',
                          image_fill: settings.product_image_fill,
                          image_ratio: 'adapt',
                          image_ratio_mobile: 'adapt',
                          preload: true,
                          sizes: sizes,
                          autoplay: false,
                          loop: false
                        -%}
                      {%- endif -%}

                      {%- for media in product.media -%}
                        {%- if media.id != featured_media.id -%}
                          {%- render 'product-media',
                            product: product,
                            product_id: product.id,
                            section_id: section.id,
                            product_variant: product_variant,
                            media: media,
                            featured_media: featured_media,
                            variant_images: variant_images,
                            hide_variants: false,
                            gallery_layout: 'thumbnail',
                            image_zoom: 'none',
                            image_fill: settings.product_image_fill,
                            image_ratio: 'adapt',
                            image_ratio_mobile: 'adapt',
                            preload: false,
                            sizes: sizes,
                            autoplay: false,
                            loop: false
                          -%}
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  </slider-element>

                  <div class="indicators flex gap-2d5 items-center !justify-between absolute top-0 left-0 w-full h-full pointer-events-none">
                    <button class="button button--secondary pointer-events-auto" type="button" is="previous-button" aria-controls="SliderGallery-{{ section.id }}-{{ product.id }}" aria-label="{{ 'general.pagination.previous' | t | escape }}" disabled data-button="previous">
                      <span class="btn-fill" data-fill></span>
                      <span class="btn-text">
                        {%- render 'icon', icon: 'chevron-left', class: 'transform' -%}
                      </span>
                    </button>
                    <button class="button button--secondary pointer-events-auto" type="button" is="next-button" aria-controls="SliderGallery-{{ section.id }}-{{ product.id }}" aria-label="{{ 'general.pagination.next' | t | escape }}" data-button="next">
                      <span class="btn-fill" data-fill></span>
                      <span class="btn-text">
                        {%- render 'icon', icon: 'chevron-right', class: 'transform' -%}
                      </span>
                    </button>
                  </div>
                </div>

                {%- if media_count > 1 -%}
                  <scroll-shadow id="MLThumbnails-{{ section.id }}-{{ product.id }}" class="product__thumbnails product__thumbnails--below grid items-center relative w-full">
                    <media-dots class="product__thumbnails-list scroll-area grid items-end justify-start gap-1 w-full" aria-controls="SliderGallery-{{ section.id }}-{{ product.id }}">
                      {%- if featured_media != null -%}
                        {%- render 'product-thumbnail',
                          product: product,
                          product_variant: product_variant,
                          media: featured_media,
                          featured_media: featured_media,
                          variant_images: variant_images,
                          hide_variants: false,
                          image_fill: settings.product_image_fill,
                          image_ratio: 'adapt',
                          image_ratio_mobile: 'adapt',
                          position: 0
                        -%}
                      {%- endif -%}

                      {%- for media in product.media -%}
                        {%- if media.id != featured_media.id -%}
                          {%- render 'product-thumbnail',
                            product: product,
                            product_variant: product_variant,
                            media: media,
                            featured_media: featured_media,
                            variant_images: variant_images,
                            hide_variants: false,
                            image_fill: settings.product_image_fill,
                            image_ratio: 'adapt',
                            image_ratio_mobile: 'adapt',
                            position: forloop.index
                          -%}
                        {%- endif -%}
                      {%- endfor -%}
                    </media-dots>
                    <template>
                      <slot></slot>
                      <s dir="{% render 'direction' %}" style="--t: 0;--b: 0;--l: 0;--r: 0;">
                        <span class="t">{%- render 'icon', icon: 'chevron-up' -%}</span>
                        <span class="b">{%- render 'icon', icon: 'chevron-down' -%}</span>
                        <span class="l">{%- render 'icon', icon: 'chevron-left' -%}</span>
                        <span class="r">{%- render 'icon', icon: 'chevron-right' -%}</span>
                      </s>
                      <style>
                        :host{display:inline-block;position:relative}:host([hidden]){display:none}
                        s{position:absolute;inset:0;pointer-events:none;display:none;}
                        s svg{width:24px;height:auto;stroke-width:var(--icon-weight);}
                        s span{position:absolute;display:grid;align-items:center;justify-items:center;background-color:rgb(var(--color-background));padding:8px;opacity:0;transition:opacity var(--animation-short);}
                        s .t{inset-block-start:0;inset-inline:-5px;border-block-end:1px solid rgb(var(--color-border));opacity:var(--t);}
                        s .b{inset-block-end:0;inset-inline:-5px;border-block-start:1px solid rgb(var(--color-border));opacity:var(--b);}
                        s .l{inset-inline-start:0;inset-block:-5px;border-inline-end:1px solid rgb(var(--color-border));opacity:var(--l);}
                        s .r{inset-inline-end:0;inset-block:-5px;border-inline-start:1px solid rgb(var(--color-border));opacity:var(--r);}
                        s[dir=rtl] :is(.icon-chevron-left,.icon-chevron-right){transform:scaleX(-1);}
                        @media screen and (max-width: 1023px) {
                          s{display:none}
                        }
                      </style>
                    </template>
                  </scroll-shadow>
                {%- endif -%}
              </div>
            </media-gallery>
          {%- else -%}
            <div class="ml-featured-product__main-image">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
          </div>

          <div class="ml-featured-product__info">
          <h2 class="ml-featured-product__title">{{ product.title }}</h2>

          <div id="Price-{{ section.id }}-{{ product.id }}" class="ml-featured-product__price">
            {%- liquid
              if settings.currency_code_enabled
                echo product.selected_or_first_available_variant.price | money_with_currency
              else
                echo product.selected_or_first_available_variant.price | money
              endif
            -%}
          </div>

          {%- if product.description != blank -%}
            <div class="ml-featured-product__description rte">
              {{ product.description }}
            </div>
          {%- endif -%}

          <product-info
            id="ProductInfo-{{ section.id }}-{{ product.id }}"
            class="product__info block w-full"
            data-section-id="{{ section.id }}"
            data-product-id="{{ product.id }}"
            data-product-url="{{ product.url }}"
            data-update-url="false"
            form="{{ product_form_id }}"
          >
            {%- form 'product', product, id: product_form_id, class: 'ml-featured-product__form', is: 'product-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled />

              {%- unless product.has_only_default_variant -%}
                {%- render 'ml-product-variant-picker-swatch',
                  product: product,
                  product_id: product.id,
                  section_id: section.id,
                  show_variant_labels: true,
                  context: 'product'
                -%}
              {%- endunless -%}

            <div class="ml-featured-product__quantity-cart">
              {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
              <div id="QuantityForm-{{ section.id }}-{{ product.id }}" class="field">
                <quantity-input class="ml-featured-product__quantity inline-flex relative" data-section-id="{{ section.id }}" data-product-id="{{ product.id }}">
                  <button type="button" name="minus" class="ml-featured-product__quantity-button" aria-label="{{ 'products.quantity.decrease' | t: product: product.title | escape }}">
                    {%- render 'icon', icon: 'chevron-left', size: 'sm', class: 'stroke-2 transform' -%}
                  </button>
                  <input
                    type="number"
                    name="quantity"
                    id="MLQuantity-{{ section.id }}-{{ product.id }}"
                    class="ml-featured-product__quantity-input"
                    inputmode="numeric"
                    autocomplete="off"
                    data-quantity-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  />
                  <button type="button" name="plus" class="ml-featured-product__quantity-button" aria-label="{{ 'products.quantity.increase' | t: product: product.title | escape }}">
                    {%- render 'icon', icon: 'chevron-right', size: 'sm', class: 'stroke-2 transform' -%}
                  </button>
                </quantity-input>
              </div>
              <button
                type="submit"
                name="add"
                form="{{ product_form_id }}"
                class="button ml-featured-product__add-to-cart"
                is="hover-button"
                {%- if product.selected_or_first_available_variant.available == false %} disabled{% endif -%}
              >
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {%- liquid
                    if product.selected_or_first_available_variant.available == false
                      echo 'products.product.sold_out' | t
                    else
                      echo 'products.product.add_to_cart' | t
                    endif
                  -%}
                </span>
              </button>
            </div>
          {%- endform -%}
          </product-info>

          {% comment %} <a href="{{ product.url }}" class="ml-featured-product__view-product-link">View More {% render 'icon', icon: 'arrow-right', class: 'transform' %}</a> {% endcomment %}

          </div>
        </div>

        {%- if section.settings.featured_image != blank -%}
          {%- if section.settings.featured_image_link != blank -%}
            <a href="{{ section.settings.featured_image_link }}" class="ml-featured-product__featured-image" aria-label="{{ section.settings.featured_image_text | default: 'Featured image' | escape }}">
          {%- else -%}
            <div class="ml-featured-product__featured-image">
          {%- endif -%}
            {{- section.settings.featured_image | image_url: width: 600 | image_tag: loading: 'lazy', sizes: '300px', widths: '300,600,900', alt: section.settings.featured_image_text, is: 'lazy-image', class: 'w-full h-full object-cover' -}}
            {%- if section.settings.featured_image_text != blank -%}
              <div class="ml-featured-product__featured-image-content">
                <div class="ml-featured-product__featured-image-text">
                  {{ section.settings.featured_image_text | escape }}
                  {%- render 'icon', icon: 'arrow-right', class: 'transform' -%}
                </div>
              </div>
            {%- endif -%}
          {%- if section.settings.featured_image_link != blank -%}
            </a>
          {%- else -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- else -%}
      <div class="ml-featured-product__container">
        <div class="ml-featured-product__content-wrapper">
          <div class="ml-featured-product__gallery">
            <div class="ml-featured-product__main-image">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
          <div class="ml-featured-product__info">
            <h2 class="ml-featured-product__title">Product</h2>
            <p>No product selected</p>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "ML Featured Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Featured Image"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "featured_image_text",
      "label": "Featured Image Text",
      "default": "SHOP FUEL JUGS"
    },
    {
      "type": "url",
      "id": "featured_image_link",
      "label": "Featured Image Link"
    },
    {
      "type": "range",
      "id": "featured_image_width",
      "min": 200,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Featured Image Width",
      "default": 300
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "header",
      "content": "Section Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "presets": [
    {
      "name": "ML Featured Product",
      "category": "Products"
    }
  ],
  "disabled_on": {
    "templates": [
      "password"
    ]
  }
}
{% endschema %}
